@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;400&family=Bree+Serif&family=El+Messiri&family=Kaushan+Script&family=Luckiest+Guy&family=Montserrat:wght@200;300&family=Pompiere&family=Russo+One&family=Shrikhand&display=swap');

.portfolio {
    background-color: #2E4959;
   
    text-align: center;
    color: #A69792;
    font-family: 'Pompiere', cursive;
    font-size: 27px;
    margin-top:-8px;
    min-height: auto;
  
   

}



